<li>
  <a href="{{ page.url }}">
    <i class="fa fa-language"></i>
    {{ langswitcher.current|upper }} 
{% if 1 < langswitcher.translations|length  %}
    <i class="fa fa-caret-down"></i>
{%endif%}
  </a>
  <ul>
    {# Are there translations available?#}
    {% if 1 < langswitcher.translations|length  %}
      {% for key in langswitcher.languages %}
        {# dont list the active language (that in the menu title already)#}
        {# dont list a language for which the page is not translated into#}
        {% if key != langswitcher.current and langswitcher.translations[ key ] is defined %}
          <li>
            <a href="{{ url(key~langswitcher.page_route) }}">
              {{key|upper }} ({{ native_name(key)|capitalize }})
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li><a>
        No translations.<br>
        Using {{native_name(langswitcher.current)|capitalize}} as fall-back
      </a></li>
    {% endif%}
  </ul>
</li>
